<!DOCTYPE html>
<html>
	<head>
		<title>Notemaker</title>
		<meta charset="utf-8">
		<!-- CSS only -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	</head>
	<body>
		<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
			<a class="navbar-brand col-sm-3 col-md-2 mr-0">Notemaker</a>
			<form class="form-inline col-sm-9 col-md-10">
				<input class="form-control mr-0" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
			<ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                </li>
            </ul>
		</nav>
		<div class="container fluid">
			<div class="row">
				<nav class="col-md-2 d-none d-md-block bg-light sidebar">
					<div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li><h1></h1><li>
                            <li><h1></h1><li>		
                            <li><h1></h1><li>
                            <li><h1></h1><li>
                            <li><h1></h1><li>		
                            <li><h1></h1><li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Terms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Notes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Add Notes</a>
                            </li>
                        </ul>
                    </div>
				</nav>
			</div>
		</div>
	</body>
</html>
		
